<!DOCTYPE html>
<html>
<head>
    <!-- contains css file, bootstrap and title (change titles for each ejs)-->
    <%- include ("../partials/header.ejs") %>
</head>
<body>
    <div class="container">
        <section class="info-wrapper">       
            <div class="user__search-wrapper">
                <h1 class="user__title">Welcome to DiscTracker!</h1>
                <form class="user__group">
                    <input type="text" id="userid" name="userid" placeholder="Enter User/Bot ID" class="user__search"></input>
                    <input type="submit" value="Search" class="button is-form user__button"></input>
                </form>                         
            </div>
            <% if (locals.stats == 200) { %>
            <div class="user">
                <% if (locals.banner) { %>
                    <a href="https://cdn.discordapp.com/banners/<%- id %>/<%- banner %>?size=1024" target="_blank">
                        <img class="user-profile-img"
                        src="https://cdn.discordapp.com/banners/<%- id %>/<%- banner %>?size=1024" alt="">
                    </a>
                <% } %>
                <div class="user-container">
                    <div class="inline">
                        <%if (locals.avatar) { %>
                        <a href="https://cdn.discordapp.com/avatars/<%- id %>/<%- avatar %>?size=1024" target="_blank">
                        <% } else { %>
                        <a href="../discord-avatar.png" target="_blank">
                        <% } %>
                            <div class="user-logo">
                                <img src="https://cdn.discordapp.com/avatars/<%- id %>/<%- avatar %>" alt=""
                                onerror="this.onerror=null;this.src='../discord-avatar.png';">
                            </div>
                        </a>
                        <div class="user-description">
                            <p>
                                <% if (locals.badge  != 'None') { %>
                                    <img src="/badges/<%- badge%>.png?size=1024">
                                <% } %>
                                <%- username %>#<%- discriminator%>
                            </p>
                        </div>
                    </div>
                    <div class="info-container">
                        <div class="user-date">
                            <p>Creation Date: <%- date %>
                            </p>
                        </div>
                        <% if (locals.bannercolor) { %>
                        <div class="pill-btn">
                            <p>Banner Color: <span style="color:<%- bannercolor %>"><%- bannercolor %> </span></p>
                            <!-- <p style="color: <%-bannercolor%>; border:1px solid <%- bannercolor %>; border-radius:20px; padding:10px;"><%- bannercolor %></p> -->
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>
        <section class="bot-wrapper">
            <%- include ("../partials/bot.ejs") %>
        </section>
    </div>    
</body>

</html>
